.btn-primary {
    background-color: #ff4a4a;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    padding: 10px 20px;
	transition: 0.2s background ease-in-out;
}

.btn-primary:hover {
	background-color: #ee3939;
	cursor: pointer;
}
